@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SOEFI WAREHOUSE</h1>
    <p class="lead">Soefi is  a warehouse management system that enhances efficient storage by offering improved security services</p>
    <p><a href="#" class="btn btn-primary btn-sm">Learn more </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your Catalog</h2>
        <p>
            Lorem Ipsum
        </p>
    </div>
</div>